header {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header h1 {
  font-size: 40px;
  color: var(--red);
}

header #nav-dropdown {
  display: none;
}

header nav a {
  padding: 2px 8px;
  transition: filter 0.2s;
}

header nav a:hover {
  filter: brightness(0.8);
}
